@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Pacifico&display=swap");

main {
  max-width: 100%;
  background-color: white;
  font-family: "IBM Plex Mono";
}

.title {
  color: #424242;
  font-size: 48px;
}

.navbar__logo {
  height: 64px;
  margin-top: 18px;
}

.navbar {
  background: #e17141;
  max-width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
}

.navbar__search {
  width: 800px;
  height: 60px;
  background-color: #ffcdb8;
  border-radius: 20px;
  margin-top: 18px;
}

.navbar__search-icon {
  margin-top: 12px;
  margin-left: 748px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-family: "IBM Plex Mono";
  color: white;
  padding-top: 16px;
  width: 430px;
  height: 68px;
}

.navigation-favorites {
  margin-left: 96px;
  margin-right: 82px;
}

.navbar__menu {
  margin-top: 18px;
}

.basket-title {
  margin: 0 auto;
}

.favorite-title {
  margin: 0 auto;
}

.profile-title {
  margin: 0 auto;
}

.theme {
  width: 100px;
  height: 50px;
  border-radius: 30px;
  background: #e17141;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 1400px;
}

.category-text {
  text-decoration: none;
  color: #424242;
}

.line {
  background-color: #424242;
  max-width: 100%;
  padding-top: 15px;
}

.container {
  padding-top: 100px;
  margin: 0 auto;
  color: white;
  width: 1440px;
  height: 5200px;
}

.promotion {
  width: 1440px;
  height: 400px;
  background-color: #ffcdb8;
  border-radius: 45px;
  display: flex;
  justify-content: space-between;
}

.promotion-text {
  width: 500px;
  color: #424242;
  font-family: IBM Plex Mono;
  font-size: 48px;
  margin-top: 250px;
  margin-left: -800px;
}

.promotion-title {
  color: #e17141;
  font-family: "IBM Plex Mono";
  font-size: 84px;
  margin-left: 50px;
  margin-top: 10px;
}

.promotion__discount {
  font-family: "Pacifico";
  color: #e17141;
  font-size: 148px;
  text-align: right;
  margin-right: 40px;
}

.category {
  display: flex;
  justify-content: space-evenly;
  width: 1440px;
  height: 150px;
  background-color: #ffcdb8;
  border-radius: 45px;
  color: black;
  text-align: center;
}

.sviter-title {
  margin: 0 auto;
}

.shapka-title {
  margin: 18px;
}

.pinetka-title {
  margin: 25px;
}

.pled-title {
  margin: 18px;
}

.kombinezon-title {
  margin: 18px;
}

.category-sviter {
  margin-top: 9px;
}

.category-shapka {
  margin-top: 27px;
}

.category-pinetka {
  margin-top: 34px;
}

.category-pled {
  margin-top: 27px;
}

.category-kombinezon {
  margin-top: 27px;
}

.card__basket {
  width: 45px;
  height: 40px;
  margin-top: 340px;
  margin-right: 120px;
}

.card {
  width: 300px;
  height: 400px;
  background-color: #ffcdb8;
  border-radius: 45px;
  font-family: "IBM Plex Mono";
  display: flex;
}

.promotion__card {
  background-color: #ffcdb8;
  border-radius: 45px;
  display: flex;
  width: 680px;
  height: 400px;
  justify-content: center;
  text-align: center;
}

.cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.promotion__card-text {
  width: 500px;
  color: #424242;
  font-family: IBM Plex Mono;
  font-size: 48px;
}

.promotion__card-discount {
  font-family: "Pacifico";
  color: #e17141;
  font-size: 148px;
  text-align: center;
  margin-left: 25px;
}

.card__heart {
  margin: 20px;
  width: 45px;
  height: 45px;
}

.card__header {
  width: 400px;
  height: 100px;
  display: flex;
}

.card__discount {
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 20px;
  text-align: center;
  width: 50px;
  height: 25px;
  background-color: #e14141;
  border-radius: 45px;
  display: flex;
}

.card__footer {
  width: 300px;
  height: 100px;
  display: flex;
  margin-top: 300px;
}

.card__discount-text {
  text-align: center;
  margin: 0 auto;
  padding: 2px;
}

.card__title {
  color: #424242;
  margin-left: -280px;
  margin-top: -5px;
  width: 250px;
}

.card__price_text {
  margin-top: 7px;
}

.card__basket {
  margin-top: 40px;
  margin-left: 100px;
}

.card__price {
  color: white;
  font-family: "IBM Plex Mono";
  text-align: center;
  font-size: 28px;
  width: 120px;
  height: 53px;
  background-color: #e17141;
  border-radius: 45px;
  margin-top: 35px;
  margin-left: -260px;
}

.card__image {
  margin-top: 70px;
  margin-left: -305px;
  width: 300px;
  height: 220px;
}

.footer__bg {
  padding-top: 50px;
  background-color: #e17141;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-family: 'IBM Plex Mono';
  font-size: 25px;
}

.footer__copyright {
  max-width: 500px;
  font-size: 20px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
}

.footer__mail {
  text-align: right;
}

@media screen and (max-width: 1440px) {
  .navbar__search {
    width: 400px;
  }

  .navbar__search-icon {
    margin-left: 350px;
  }

  .promotion {
    width: 992px;
    margin-left: 125px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar__search {
    width: 300px;
  }

  .navbar__search-icon {
    margin-left: 250px;
  }
}

@media screen and (max-width: 992px) {
  .navbar__search {
    width: 200px;
  }

  .navbar__search-icon {
    margin-left: 150px;
  }
  .navbar__logo {
    height: 48px;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 378px) {}